<!DOCTYPE html>
<html>
<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">
  Team Name: <><br>
  Team Motto: <><br>
  <h2>Hero 1</h2>
  Hero's Name: <input type="text" id="name" name="[name]"><br>
</form>
</html>
